$header-background-color: #151515;
$block-title-color: #192130;
$card-hotel-title-color: #192130;
$card-hotel-description-color: #192130;
$primary-button-text-color: #ffffff;
$primary-button-background-color: #192130;
$input-border-color: #919191;
$input-text-color: #192130;
